.container{
    margin-top: 120px;
    display: flex;
    align-items: center;
}
.card{
    width: 70%;
}
.totalcard{
    border: 1px solid silver;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px;
    width:120%;
    margin:0 10px;
}
.ptag span{
    color: #1a73e8;
}
.ptag{
    font-size: 1.1rem;
}
.buttontag{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttontag :nth-child(1){
    color: green;
    background:none;
    border: none;
    cursor: pointer;
}
.buttontag :nth-child(2){
    color: #fff;
    background-color: green;
    border: none;
    cursor: pointer;
    padding: 7px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.checkout{
    border: 1px solid silver;
    padding: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    line-height: 30px;
}
.checkout a {
    text-decoration: none;
    color: green;

}
@media (max-width:1100px){
    .totalcard{
        width:100%;
    }
}
@media (max-width:960px){
    .totalcard{
        width:85%;
        margin:0 5px;
    }
}

@media (max-width:790px){
    .container{
        display: block;
    }
    .totalcard{
        width:85%;
        margin:0 10px;
    }
    .card{
        width: 100%;
    }
}
@media (max-width:460px){
    .totalcard{
        margin:0 10px;
        width:75%;
    }
}
